<%= render @event %>

<div>
  <%= button_to "Modifier ce concours", edit_event_path(@event) %> |
  <%= button_to "Revenir aux concours", events_path %>

  <%= button_to "Supprimer ce concours", @event, method: :delete %>
</div>
