<p>
<center><h1><strong>BIENVENUE LES CHATONS !!!</strong></h1></center>
</p>
<br>
<br>
<br>

<p>
<center><h3><strong>Retrouvez ici les trucs et astuces de nos amis à moustaches !</strong></h3></center>
</p>

<div class="d-grid gap-2">
<%= link_to "Go s'inscrire", new_user_session_path, class:"btn btn-secondary" %>

</div>