<div id="<%= dom_id post %>">
  <p>
    <strong>Catlover:</strong>
    <%= post.user %>
  </p>

  <p>
    <strong>Astuce:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Commentaire:</strong>
    <%= post.content %>
  </p>

</div>
